@page "/rooms/details"
@inject SystemRezerwacjiHotelowej.Data.ApplicationDbContext DB
@using SystemRezerwacjiHotelowej.Components
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    @if (room is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Numer</dt>
            <dd class="col-sm-10">@room.Numer</dd>
            <dt class="col-sm-2">Pietro</dt>
            <dd class="col-sm-10">@room.Pietro</dd>
            <dt class="col-sm-2">IloscOsob</dt>
            <dd class="col-sm-10">@room.IloscOsob</dd>
            <dt class="col-sm-2">CenaZaDobe</dt>
            <dd class="col-sm-10">@room.CenaZaDobe</dd>
            <dt class="col-sm-2">Standard</dt>
            <dd class="col-sm-10">@room.Standard</dd>
        </dl>
        <div>
            <a href="@($"/rooms/edit?id={room.Id}")">Edit</a> |
            <a href="@($"/rooms")">Back to List</a>
        </div>
    }
</div>

@code {
    Room? room;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        room = await DB.Room.FirstOrDefaultAsync(m => m.Id == Id);

        if (room is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
